# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Xcode
*.xcuserdata
*.xcworkspace/xcuserdata
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
DerivedData/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcodeproj/xcuserdata
*.xcodeproj/xcshareddata/xcschemes

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Icon build artifacts
*.iconset/
*.icns
